{
    "badges": [
      {
        "badge_emoji": "<:yrhacks:1229303246951026698>",
        "badge_name": "Executive",
        "badge_desc": "YRHacks 2024 Exec.",
        "users": [

        ]
      },
      {
        "badge_emoji": "<:codemonkey:1229303519526522970>",
        "badge_name": "Code Monkey",
        "badge_desc": "Ashvin and Kenny's Tech Support.",
        "users": [

        ]
      },
      {
        "badge_emoji": "<:yrhacksold:1229307081799110707>",
        "badge_name": "Former Exec",
        "badge_desc": "Former YRHacks Exec.",
        "users": [

        ]
      },
      {
        "badge_emoji": ":teacher:",
        "badge_name": "Teacher",
        "badge_desc": "Teacher Supervisor.",
        "users": [
            
        ]
      }
    ]
  }
  